<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans" rel="stylesheet"> 

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="/Content/Site.css" rel="stylesheet" type="text/css" runat="server" />
</head>
<body>
    @*<div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/Content/Images/image_brand.png" alt="Wholesome Logo" class="img-responsive">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nutrient Calculator", "NutrientCalculator", "Home")</li>
                    <li>@Html.ActionLink("Recent", "Recent", "Home")</li>
                    <li>@Html.ActionLink("Saved Items", "SavedItems", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container body-content body-content-mvc">
        @RenderBody()
    </div>

    <footer class="navbar navbar-fixed-bottom">
		<div class="container">
			<hr />
			<ul class="text-center footer-link">
				<li><a href="~/WebForms/index.aspx">Home</a></li>
				<li>
					<ul>
						<li>&bull;</li>
						<li><a href="~/WebForms/manual_input.aspx">Nutrient Calculator</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li>&bull;</li>
						<li><a href="~/WebForms/recent.aspx">Recent</a></li>
					</ul>
				</li>
				<li class="authenticated purchasing">
					<ul>
						<li>&bull;</li>
						<li><a href="~/WebForms/comparison.aspx">Comparison Tool</a></li>
					</ul>
				</li>
				<li class="authenticated">
					<ul>
						<li>&bull;</li>
						<li><a href="~/WebForms/update_item.aspx">Update Item</a></li>
					</ul>
				</li>
				<li class="authenticated purchasing">
					<ul>
						<li>&bull;</li>
						<li><a href="~/WebForms/inventory_admin.aspx">Inventory Projection</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li>&bull;</li>
						<li><a href="~/WebForms/farmers_market.aspx">Farmers Market Finder</a></li>
					</ul>
				</li>
			</ul>
			<br />
			<p class="text-center">&copy; @DateTime.Now.Year - Wholesome Inc. All rights reserved.</p>
		</div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
